<h1>Artists</h1>
<div>
    <div id="form-container" class="oj-form-layout">
        <form id="form1" class="oj-form">
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="multiselect">Select artist</label>                    
                    <select id="multiselect" data-bind="ojComponent: {component: 'ojSelect',
                                                          multiple: false,
                                                          value: selectedArtists,
                                                          required: false,
                                                          options: allArtists,
                                                          optionChange: selectionChanged,
                                                          rootAttributes: {style:'max-width:20em'}}" />
                </div>
            </div>
        </form>
    </div>
    <h2>Cumulative plays per artist and day</h2>
    <div id='chart-container'>
        <div id="lineAreaChart" data-bind="ojComponent: {
            component: 'ojChart', 
            type: 'lineWithArea', 
            series: areaSeriesValue, 
            groups: areaGroupsValue, 
            timeAxisType: 'enabled',
            animationOnDisplay: 'on',
            animationOnDataChange: 'on',            
            stack: 'on',             
            hoverBehavior: 'dim',
            zoomAndScroll: 'live',
            overview: {rendered: 'off'},
            dataCursor: dataCursorValue
         }"
             style="max-width:1024px;width:100%;height:480px;">
        </div>                  
    </div>
</div>