<h1>Artists</h1>
<div>
    <div id="form-container" class="oj-form-layout">
        <form id="form1" class="oj-form">
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="multiselect">Select artist</label>                    
                    <select id="multiselect" data-bind="ojComponent: {component: 'ojSelect',
                                                          multiple: false,
                                                          value: selectedArtists,
                                                          required: false,
                                                          options: allArtists,                                                          
                                                          rootAttributes: {style:'max-width:20em'}}" />
                </div>
            </div>
        </form>
    </div>
</div>