<h1>Artists</h1>
<div>
    <div id="form-container" class="oj-form-layout">
        <form id="form1" class="oj-form">
            <div class="oj-flex">
                <div class="oj-flex-item">
                    <label for="multiselect">Select artist</label>                    
                    <select id="multiselect" data-bind="ojComponent: {component: 'ojSelect',
                                                          multiple: true,
                                                          value: selectedArtists,
                                                          required: false,
                                                          options: allArtists,
                                                          optionChange: optionChanged}" />
                </div>                
            </div>
            <div class="oj-flex">  
                <div class="oj-flex-item">
                    <label id="inputgrouplabel">Period</label>
                    <div class="oj-form-control-group" aria-labelledby="inputgrouplabel" role="group">
                        <input aria-label="from" id="from" 
                               data-bind="ojComponent: {component: 'ojInputDate',           
                                  max: toValue,
                                  value: fromValue,
                                  optionChange: optionChanged}"/>
                        <input  aria-label="to"    id="to" 
                                data-bind="ojComponent: {component: 'ojInputDate',                                   
                                  min: fromValue,
                                  value: toValue,
                                  optionChange: optionChanged}"/>                      
                    </div>
                </div>
            </div>

        </form>
    </div>
    <h2>Cumulative plays per artist and day</h2>
    <div id='chart-container'>
        <div id="lineAreaChart" style="max-width:1024px;width:100%;height:320px;" data-bind="ojComponent: {
            component: 'ojChart', 
            type: 'lineWithArea', 
            series: areaSeriesValue, 
            groups: areaGroupsValue, 
            timeAxisType: 'enabled',
            animationOnDisplay: 'on',
            animationOnDataChange: 'on',            
            stack: 'on',             
            hoverBehavior: 'dim',
            zoomAndScroll: 'live',
            overview: {rendered: 'off'},
            dataCursor: dataCursorValue
         }"></div>                  
    </div>

    <div class="demo-grid-sizes demo-flex-display">
        <div class="oj-flex oj-flex-items-pad">
            <div class="oj-sm-6 oj-flex-item">
                <h2>Top 10 tracks</h2>
                <div id="topNTracks" style="max-width:512px;width:100%;height:320px" data-bind="ojComponent: {
                    component: 'ojChart', 
                    type: 'bar', 
                    series: topNTracksSeriesValue,            
                    dataLabel: chartLabel,
                    animationOnDisplay: 'auto',
                    animationOnDataChange: 'auto',
                    orientation: 'horizontal',
                    stack: 'off',                   
                    legend: {rendered: 'off'},
                    xAxis: {rendered: 'off'}
                }"></div>    
            </div>
            <div class="oj-sm-6 oj-flex-item">
                <h2>Top 10 albums</h2>
                <div id="topNTracks" style="max-width:512px;width:100%;height:320px" data-bind="ojComponent: {
                    component: 'ojChart', 
                    type: 'bar', 
                    series: topNAlbumsSeriesValue,            
                    dataLabel: chartLabel,
                    animationOnDisplay: 'auto',
                    animationOnDataChange: 'auto',
                    orientation: 'horizontal',
                    stack: 'off',                   
                    legend: {rendered: 'off'},
                    xAxis: {rendered: 'off'}
                }"></div>    
            </div>
        </div>
    </div>
</div>